<mat-toolbar color="primary" class="espacamento">
  <mat-icon routerLink="/" color="accent" class="logo-academia">fitness_center</mat-icon>

  <button mat-button routerLink="/pagina-inicial">Página inicial</button>
  <button mat-button>Usuários</button>
  <button mat-button>Alunos</button>
  <button mat-button>Academia</button>
</mat-toolbar>
